<div class="page">
  <div class="page-header">
    <div>
      <h2>Products</h2>
      <p>Manage all products</p>
    </div>

    <button class="create-btn" (click)="openCreate()">+ Create Product</button>
  </div>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>SKU</th>
        <th>Action</th>
      </tr>
    </thead>

    <tbody>
      @for (product of products; track product._id) {
        <tr>
          <td>{{ product.name }}</td>

          <td>{{ product.sku }}</td>

          <td>
            <button class="edit-btn" (click)="openEdit(product)">Edit</button>
          </td>
        </tr>
      }
    </tbody>
  </table>

  <div class="pagination">
    <button>Previous</button>

    <button class="active">1</button>

    <button>2</button>

    <button>3</button>

    <button>Next</button>
  </div>
</div>

@if (showModal) {
  <div class="overlay">
    <div class="modal">
      <h3>
        {{ isEdit ? 'Edit Product' : 'Create Product' }}
      </h3>
      <form [formGroup]="productForm" (ngSubmit)="saveProduct()">
        <div class="field">
          <label>Name</label>
          <input type="text" formControlName="name" />
          @if (productForm.controls.name.invalid && productForm.controls.name.touched) {
            <small class="error"> Product name is required. </small>
          }
        </div>
        <div class="field">
          <label>SKU</label>
          <input type="text" formControlName="sku" />
          @if (productForm.controls.sku.invalid && productForm.controls.sku.touched) {
            <small class="error"> SKU is required. </small>
          }
        </div>
        <div class="actions">
          <button type="button" class="cancel" (click)="closeModal()">Cancel</button>
          <button type="submit" class="save" [disabled]="productForm.invalid">
            {{ isEdit ? 'Update' : 'Save' }}
          </button>
        </div>
      </form>
    </div>
  </div>
}
