<div class="otp-container">
  @if (showAlert) {
    <div
      class="notification"
      [class.success]="alertType === 'success'"
      [class.error]="alertType === 'error'"
    >
      {{ alertMessage }}
    </div>
  }

  <div class="otp-card">
    <div class="logo">
      <div class="logo-circle">S</div>

      <h2>OTP Verification</h2>

      <p>Enter the 6-digit verification code sent to your email.</p>
    </div>

    <div class="otp-inputs">
      @for (item of otp; track $index) {
        <input
          id="otp-{{ $index }}"
          maxlength="1"
          [value]="item"
          (input)="onInput($event, $index)"
          (keydown)="onKeyDown($event, $index)"
          (paste)="onPaste($event)"
        />
      }
    </div>

    <button class="verify-btn" (click)="verifyOTP()">Verify OTP</button>

    <button class="resend-btn" (click)="resendOTP()">Resend OTP</button>
  </div>
</div>
